<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="lastUsedScriptHubHack" value="non" />
    <add key="topMost" value="True" />
    <add key="keepSettings" value="True" />
    <add key="otherTeamOnly" value="True" />
    <add key="internalAimbot" value="True" />
    <add key="onlyVisible" value="True" />
    <add key="exploitTheme" value="Black" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="selectedApi" value="EasyXploits" />
    <add key="settingsPanel" value="False" />
    <add key="scriptHubPanel" value="False" />
    <add key="scriptCollectionPanel" value="False" />
    <add key="robloxControlPanel" value="False" />
    <add key="themesPanel" value="False" />
    <add key="universalHacksPanel" value="False" />
    <add key="externalHacksPanel" value="False" />
    <add key="panelRadius" value="15" />
    <add key="avoidApiWebsite" value="False" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>